.topbarContainer {
  height: 50px;
  width: 100%;
  background-color: #1877f2;

  display: flex;
  align-items: center;

  position: sticky;
  top: 0;
  z-index: 99;
}

.logo {
  text-decoration: none;
  font-size: 24px;
  margin-left: 20px;
  font-weight: 700;
  color: #fff;
  cursor: pointer;
}

.topbarLeft {
  flex: 3;
}
.topbarCenter {
  flex: 5;
}

.searchBar {
  width: 100%;
  height: 30px;
  background-color: #fff;
  border-radius: 30px;
  display: flex;
  align-items: center;
}

.searchIcon {
  font-size: 20px !important;
  margin-left: 10px;
}

.searchInput {
  border: none;
  width: 70%;
}

.searchInput:focus {
  outline: none;
}

.topbarRight {
  flex: 4;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #fff;
}

.topbarLink {
  text-decoration: none;
  color: white;
  margin-right: 10px;
  font-size: 14px;
  cursor: pointer;
}

.topbarIcons {
  display: flex;
}

.topbarIconItem {
  margin-right: 15px;
  cursor: pointer;
  position: relative;
}

.topbarIconBadge {
  position: absolute;
  top: -5px;
  right: -5px;
  width: 15px;
  height: 15px;
  background-color: red;
  color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}

.topbarImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}
